//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Number1 {
            bindings = <&Hold_on_Bitch LA(F13) F13>;
            key-positions = <15 6>;
        };

        Number3 {
            bindings = <&Hold_on_Bitch LA(F15) F15>;
            key-positions = <6 17>;
        };

        QTbet {
            bindings = <&kp KP_NUMBER_7>;
            key-positions = <23 13>;
        };

        Fullbet {
            bindings = <&kp KP_NUMBER_9>;
            key-positions = <13 14>;
        };

        Number8 {
            bindings = <&Hold_on_Bitch LA(F20) F20>;
            key-positions = <15 17>;
        };

        Number7 {
            bindings = <&Hold_on_Bitch F21 F17>;
            key-positions = <18 15>;
        };

        Number7mk2 {
            bindings = <&kp F17>;
            key-positions = <18 35>;
        };

        Number5 {
            bindings = <&kp F17>;
            key-positions = <35 17>;
        };
    };

    behaviors {
        Hold_on_Bitch: a {
            compatible = "zmk,behavior-hold-tap";
            label = "ah";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
        };

        Long_holding: Long_holding {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HOLDING";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <1000>;
            flavor = "tap-preferred";
        };

        layermove: layermove {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERMOVE";
            bindings = <&to>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
               &Long_holding LS(LC(W)) F         &kp LEFT_SHIFT  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9    &Hold_on_Bitch LA(F13) F13  &Hold_on_Bitch LA(F14) F14  &Hold_on_Bitch LA(F15) F15  &layermove 0 1          &to 1
               &Long_holding LS(LC(D)) NUMBER_1  &kp LC(C)       &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6    &Hold_on_Bitch LA(F16) F16  &Hold_on_Bitch LA(F17) F17  &Hold_on_Bitch LA(F18) F18  &Hold_on_Bitch F21 F17  &bt BT_SEL 2
&kp BACKSLASH  &Long_holding LC(LS(D)) NUMBER_2  &kp LC(V)       &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3    &Hold_on_Bitch LA(F19) F19  &Hold_on_Bitch LA(F20) F20  &Long_holding F22 F21       &mo 2                   &bt BT_SEL 1  &bt BT_SEL 0
                                                                 &kp SPACE        &kp NUMBER_0     &mo 2              &Hold_on_Bitch LA(F19) F19  &kp ENTER                   &kp RIGHT_ALT
            >;
        };

        Getting_in_ROOM {
            bindings = <
        &trans  &trans  &Hold_on_Bitch LA(LS(F13)) LS(F13)  &Hold_on_Bitch LA(LS(F14)) LS(F14)  &Hold_on_Bitch LA(LS(F15)) LS(F15)    &Hold_on_Bitch LA(LS(F13)) LS(F13)  &Hold_on_Bitch LS(LA(F14)) LS(F14)  &Hold_on_Bitch LA(LS(F15)) LS(F15)  &layermove 0 1  &trans
        &to 0   &trans  &Hold_on_Bitch LA(LS(F16)) LS(F16)  &Hold_on_Bitch LA(LS(F17)) LS(F17)  &Hold_on_Bitch LA(LS(F18)) LS(F18)    &Hold_on_Bitch LA(LS(F16)) LS(F16)  &Hold_on_Bitch LA(LS(F17)) LS(F17)  &Hold_on_Bitch LA(LS(F18)) LS(F18)  &trans          &trans
&trans  &trans  &trans  &Hold_on_Bitch LA(LS(F19)) LS(F7)   &Hold_on_Bitch LA(LS(F20)) LS(F20)  &trans                                &Hold_on_Bitch LA(LS(F19)) LS(F19)  &Hold_on_Bitch LA(LS(F20)) LS(F20)  &trans                              &trans          &trans  &trans
                        &kp BACKSPACE                       &trans                              &Hold_on_Bitch LA(LS(F20)) LS(F20)    &Hold_on_Bitch LA(LS(F19)) LS(F19)  &Hold_on_Bitch LA(LS(F20)) LS(F20)  &kp BACKSPACE
            >;
        };

        quit_and_login {
            bindings = <
            &to 3        &trans  &trans  &trans  &kp F24    &kp LC(F13)  &kp LC(F14)  &kp LC(F15)  &trans  &trans
            &trans       &trans  &trans  &trans  &trans     &kp LC(F16)  &kp LC(F17)  &kp LC(F18)  &trans  &bt BT_CLR_ALL
&sys_reset  &bootloader  &trans  &trans  &trans  &trans     &kp LC(F19)  &kp LC(F20)  &kp F22      &trans  &bt BT_CLR      &to 0
                                 &trans  &trans  &trans     &trans       &trans       &trans
            >;
        };

        nav_num {
            bindings = <
                &kp Q  &kp W  &kp E          &kp R  &kp T        &kp Y      &kp U  &kp I          &kp O       &kp P
                &kp A  &kp S  &kp D          &kp F  &kp G        &kp H      &kp J  &kp K          &kp L       &kp SEMICOLON
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C          &kp V  &kp B        &kp N      &kp M  &kp COMMA      &kp PERIOD  &kp FSLH       &kp RIGHT_SHIFT
                              &kp BACKSPACE  &mo 4  &kp SPACE    &kp SPACE  &mo 2  &kp RIGHT_ALT
            >;
        };

        sym_func {
            bindings = <
         &kp NUMBER_1   &kp NUMBER_2          &kp NUMBER_3           &kp NUMBER_4      &kp NUMBER_5     &kp NUMBER_6   &kp N7           &kp N8   &kp NUMBER_0  &kp MINUS
         &kp TAB        &kp LBKT              &kp RBKT               &kp ENTER         &kp BSLH         &kp F6         &kp F7           &kp F8   &kp F9        &kp F10
&kp ESC  &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp BACKSPACE    &kp F11        &kp F12          &kp F13  &kp F14       &kp F15    &kp EQUAL
                                              &trans                 &trans            &trans           &kp BACKSPACE  &kp RIGHT_SHIFT  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};
